@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


 main, section {
    width: 100%;
    margin-top: 25px;
}

header > h1 {
    color: white;
    text-shadow: 3px 3px 0px black;
    text-align: center;
}

header{   
     background-color: #15142b;
    width: 100%;
    height: 40px; 
    
}

main, section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
    text-align: center;
    max-width: 500px;
}

p {
    text-align: justify;
    line-height: 1em;
    font-size: 12px;
    text-align: center;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 14px;
    text-align: center;
}

a {
    color: #15142b;    
    padding: 0 3px;
    font-weight: 600;
    text-decoration: none;    
}

a:hover {
    color: #372991;   
    text-decoration: none;
}

/* TABELAS E LISTAS */

table {
    min-width: 400px;
    border-spacing: 0px;
    border: 0.5px solid #372991;
    margin: 10px auto;
}

table th {
    background-color: #372991;
    color: white;
    padding: 5px;
    text-align: left;
}

table td {
    padding: 5px;
}

table tr {
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
    background-color: rgba(55, 41, 145, 0.3);
}


/* ELEMENTOS DE FORMULÃRIO */

form {   
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.1), rgba(158, 0, 255, 0.5));
    background-size: 120% 120%;
    padding: 15px;
    border-radius: 10px;
  width: 500px;
    
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

form label {
    display: block;
    width: fit-content;
    font-size: 14px;
    font-weight: 100;
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.form-content.error input{
    border-color: #ff3b25;
  }
  
  .form-content.error a{
    color: #ff3b25;
    visibility: visible;
    font-size: 12px;
  }

input[type=text], [type=number],   input[type=password] {
    width: 100%;
    padding: 5px 10px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    width: 100%;
    background-color: #eb9903;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #c27013;
}

input[type=button], button {
    width: 50%;
    background-color: #372991;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 98px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

input[type=button]:hover, button:hover {
    background-color: #291f6c;
}

fieldset {
    border: 0.5px dotted #372991;
}

fieldset > legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}